@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Bellefair', serif;
  overflow-x: hidden;
}
.container-padrao{
  display: flex;
  width: 100%;

}
@keyframes animacao {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
@keyframes animacao2 {
  from{
    opacity: 0;
    transform: translateX(300px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes animacao3 {
  from{
    opacity: 0;
    transform: translateX(-300px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

